.maparrow {
    background-color: #1c1c1c;
    height: 5vw;
    /* Default width: 5vw; */

    margin-left: 1.5rem;

    cursor: pointer;

    /* Center the image */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Show only part of the image when we are expanding the button */
    overflow: hidden;


    /* After Map Loads */
    width: 0;

    -webkit-animation: expandButtonRight 0.5s;
    -moz-animation:    expandButtonRight 0.5s;
    -o-animation:      expandButtonRight 0.5s; 
    animation:         expandButtonRight 0.5s; 

    /* Map + Loading Screen */
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

.arrowimg {
    /* Doing this to keep the dimensions while animation of button happens;
    height: 1vw; /* 20% */
    width: 1.25vw; /* 25% */
    background-color: transparent;
    user-select: none;
   
}

@keyframes expandButtonRight {
    from {width: 0}
    to {width: 5vw; height: 5vw;}
}

