.phone{
    position: absolute;

    background-color: darkred;

    width: 15%;
    height: 55%;
    border-radius: 10px;
    
    z-index: 20;

    
    
}

.phone:nth-of-type(even) {
    
    left: 35%;
    top: calc(0vh - 55%);

    -webkit-animation: moveFirstPhone 0.8s;
    -moz-animation:    moveFirstPhone 0.8s;
    -o-animation:      moveFirstPhone 0.8s; 
    animation:         moveFirstPhone 0.8s; 

    /*After Map and Head */
    animation-delay: 3.9s;
    -webkit-animation-delay: 3.9s;
    -moz-animation-delay: 3.9s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

.phone:nth-of-type(odd) {
    left: 55%;
    top: 100vh;

    -webkit-animation: moveSecondPhone 0.8s;
    -moz-animation:    moveSecondPhone 0.8s;
    -o-animation:      moveSecondPhone 0.8s; 
    animation:         moveSecondPhone 0.8s; 

    /* After Map and Head */
    animation-delay: 3.9s;
    -webkit-animation-delay: 3.9s;
    -moz-animation-delay: 3.9s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes moveFirstPhone {
    from {top: -20vh;}
    to {top: 5%}
}

@keyframes moveSecondPhone {
    from {top: 100vh;}
    to {top: 20%;}
}