.subheading {
    flex: 0 !important;
    align-self: center;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0 !important;

}




