.headlinelink {
    align-self: flex-start;
    font-family: "Muli";
    font-weight: bold;
    font-size: 0.8rem;
    pointer-events: auto;
    cursor: pointer;
    color: #8dabbc;
    line-height: 100%;
    overflow: hidden;

    /* After Map Loads */
    max-height: 0;

    -webkit-animation: expandTextDown 0.5s;
    -moz-animation:    expandTextDown 0.5s;
    -o-animation:      expandTextDown 0.5s; 
    animation:         expandTextDown 0.5s; 

    /* Map + Loading Screen */
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes expandTextDown {
    from {max-height: 0px}
    75% {max-height: 15px}
    to {max-height: 200px}
}

