/* Bootstrap is making us make it important */

.articles {
    position: absolute !important;

    left: 0;
    bottom: 0; 
    padding: 0 !important;

    align-self: center;
    
    /* fix bootstrap making the height over 100% */
    flex: unset !important;
    height: 35%;
    width: 95%;

   

}