.articlecontainer {
    height: 100%;
    background-color: #fcfcfd;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    /* Right After the Loading Screen */
    width: 0%;

    
    -webkit-animation: expandArticleToRight 1s;
    -moz-animation:    expandArticleToRight 1s;
    -o-animation:      expandArticleToRight 1s; 
    animation:         expandArticleToRight 1s; 

    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    
    
}

@keyframes expandArticleToRight {
    from {width: 0%}
    to {width: 100%}
}
