.headline {
    font-family: "Muli";
    font-size: 3rem;
    font-weight: 200;
    color: black;
    line-height: 100%;
    overflow: hidden;
    padding: 0 !important;

    /* After Map Loads */
    max-height: 0;

    -webkit-animation: expandHeadDown 1s;
    -moz-animation:    expandHeadDown 1s;
    -o-animation:      expandHeadDown 1s; 
    animation:         expandHeadDown 1s; 

    /* Map + Loading Screen */
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

@keyframes expandHeadDown {
    from {max-height: 0px;}
    to {max-height: 40%}
}

.headline:first-child {
    margin-bottom: 0 !important;
}

