.mapbuttoncombo {
    margin-top: 2vh;
    align-self: center;

    /* fix bootstrap making the height over 100% */
    flex: unset !important;
    height: 55%;
    
    /* Put it over the white article container */
    z-index: 10;

    /* Moving the map to where it needs to be right after loading screen */
    

    -webkit-animation: moveMapRight 1s;
    -moz-animation:    moveMapRight 1s;
    -o-animation:      moveMapRight 1s; 
    animation:         moveMapRight 1s; 

    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

@keyframes moveMapRight {
    from {margin-right: 20%;}
    to {margin-right: 0%;}
}