.homepage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f3f4f4;
    overflow: hidden;
    width: 100%;
    height: 100%;
}