.headerlink {
    position: relative;
    
    font-family: "Muli";
    font-weight: bold;
    font-size: 1rem;
    pointer-events: auto;
    cursor: pointer;

    /* After Map and Head Loads */
    opacity: 0;

    -webkit-animation: slideTextDown 0.5s;
    -moz-animation:    slideTextDown 0.5s;
    -o-animation:      slideTextDown 0.5s; 
    animation:         slideTextDown 0.5s; 

    /* Map + Head */
    animation-delay: 3.7s;
    -webkit-animation-delay: 3.7s;
    -moz-animation-delay: 3.7s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

/*First child pushes to left*/
.headerlink:nth-child(1) {
    margin-left: auto;
    top: -20px;
}

.headerlink:nth-child(2) {
    
    top: -40px;
}

.headerlink:nth-child(3) {
    
    top: -60px;
}

@keyframes slideTextDown {
    from {opacity: 0;}
    to {top: 0px; opacity: 1;}
}