.loadingbox {
    position: absolute;

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    background-color: #1c1c1c;

    z-index: 25;

    -webkit-animation: slideToLeft 1.6s;
    -moz-animation:    slideToLeft 1.6s;
    -o-animation:      slideToLeft 1.6s; 
    animation:         slideToLeft 1.6s; 

    animation-delay: 0.4s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
}

@keyframes slideToLeft {
    from { margin-left: 0%; }
    to { margin-left: 100%; display: none }
}