.head {
    flex: 0 !important;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 20vh
}