.uberlogo {
    font-family: "Muli";
    font-weight: bold;
    font-size: 1.5rem;
    
    -webkit-animation: changeColorOnLoad 2s;
    -moz-animation:    changeColorOnLoad 2s;
    -o-animation:      changeColorOnLoad 2s; 
    animation:         changeColorOnLoad 2s; 

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes changeColorOnLoad {
    from {color: white;}
    25% {color: white;}
    50% {color: black;}
}