.articlewrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: calc(50% - 1vw);
    margin-left: 2vw;
}

.article {
    height: 100%;
    
    /* After Map and Headline loads */
    position: relative;
    background-color: transparent;


    -webkit-animation-name: expandArticleRight;
    -moz-animation-name:    expandArticleRight;
    -o-animation-name:      expandArticleRight; 
    animation-name:         expandArticleRight; 

    animation-duration: 0.5s;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    
    
    
}

.articlewrapper:nth-child(odd) > div {
    animation-delay: 3.8s;
    -webkit-animation-delay: 3.8s;
    -moz-animation-delay: 3.8s;
}

/* Black one is first, the white one starts 0.3 seconds after */
.articlewrapper:nth-child(even) > div {
    
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    
}

@keyframes expandArticleRight {
    from {width: 0%}
    to {width: 100%; }
}