.map {
    height: 100%;
    background-color: red;
    display: flex;
    
    /* This is to put the button at the far bottom left */

    flex-direction: row;
    align-items: flex-end;

    /* Right after loading screen */
    width: 0;

    -webkit-animation: expandMapRight 1s;
    -moz-animation:    expandMapRight 1s;
    -o-animation:      expandMapRight 1s; 
    animation:         expandMapRight 1s; 

    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    
    
}

/* Movement of the map is in MapButtonCombo, this is just the expansion */

@keyframes expandMapRight {
    from {width: 0%}
    to {width: 100%}
}
