.scrolldownarrow {
    font-size: 1.2rem;
    user-select: none;
    line-height: 100%;
    pointer-events: auto;
    cursor: pointer;
    overflow: hidden;

    /* After Map Loads */
    max-height: 0;

    /* expandTextDown is in HeadlineLink */
    -webkit-animation: expandTextDown 0.5s;
    -moz-animation:    expandTextDown 0.5s;
    -o-animation:      expandTextDown 0.5s; 
    animation:         expandTextDown 0.5s; 

    /* Map + Loading Screen */
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
